.state-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 88vh;
  user-select: none;
}
.state-title {
  font-size: 22px;
  line-height: 140%;
  color: #808080;
  max-width: 210px;
  text-align: center;
  margin-top: 50px;
}
