@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  box-sizing: border-box;
}

/* header styles start */
.header {
  background: #0064eb;
  padding: 16px 41px;
  display: flex;
  align-items: center;
}
.header__input-container {
  background: #fff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 22px;
  width: 500px;
  height: 40px;
  border-radius: 6px;
  padding: 8px 14px;
  border: none;
}
.header__input {
  margin-left: 11px;
  width: 100%;
  border: none;
}
/* header styles end */
